[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "ipwCoxCSV"]
	path = ipwCoxCSV
	url = https://github.com/cran/ipwCoxCSV
[submodule "ipwErrorY"]
	path = ipwErrorY
	url = https://github.com/cran/ipwErrorY
[submodule "ppmHR"]
	path = ppmHR
	url = https://github.com/cran/ppmHR
